.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  font-family: 'Inknut Antiqua', serif;
  text-align: center;
}

.container h1 {
  font-size: x-large;
}

.container h2 {
  padding-bottom: 40;
  margin-top: 40;
  margin-bottom: 5;
  font-size: x-large;
  border-bottom: solid black 1;
}

.live-info {
  padding-bottom: 10;
  border-bottom: solid black 1;
}
